<!-- component -->
<footer class="footer footer-center  w-full p-4 mt-8 bg-gray-200 text-gray-800">
  <div class="container mx-auto px-6 py-3 flex justify-between items-center">
      <div class="text-center">
        <p>
          Copyright © 2023 -
          <a class="font-semibold" href="mailto:m.sohanemon@gmail.com"
            >Code Elimu</a
          >
        </p>
      </div>
  </div>  
</footer>
